<h1>admin-login</h1>
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin" (ngSubmit)="adminLogin()" #signInForm="ngForm">
                <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            
                <div class="form-floating">
                  <input type="username" [(ngModel)]="signinData.username" class="form-control" id="floatingInput" name="username" placeholder="username" required autofocus ngModel>
                  <label for="floatingInput">Username</label>
                </div>

                <div class="form-floating">
                  <input type="password" [(ngModel)]="signinData.password"class="form-control" id="floatingPassword" name="password" placeholder="Password" required ngModel>
                  <label for="floatingPassword">Password</label>
                </div>
         
                <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              <div class="alert alert-danger" role="alert" *ngIf="isFormInvalid" >
                Please fill in all fields
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="areCredentialsValid" >
                Invalid Username or Password
              </div>
            </form>
        </div>
        
        </div>

</div>

