.skills {
    background-color : #ffa500;
}

.skillList {
    background-color : #ffc744;
}

.spells {
    background-color : #59F;
}

.spellList {
    background-color : #7BF;
}

.items {
    background-color : #990;
}

.itemList {
    background-color : #AA4;
}