<h1>User Profile</h1>
<br><br>
<h2>Enter Id and new Username</h2>
<div class="username-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin"  (ngSubmit)="usernameUpdate()" #signInForm="ngForm">
                <h1 class="h3 mb-3 fw-normal">Enter Details</h1>

                <div class="col-5">
                  <input type="number" [(ngModel)]="signinData.id" class="form-control" id="id" name="id" placeholder="ID number" required ngModel>
                  <label for="floatingPassword">ID</label>
                </div>
            
                <div class="col-5">
                  <input type="username" [(ngModel)]="signinData.username" class="form-control" id="floatingInput" name="username" placeholder="Username" required autofocus ngModel>
                  <label for="floatingInput">Username</label>
                </div>
        
                <button class="w-25 btn btn-sm btn-primary" type="submit">Submit</button>
              <div class="alert alert-danger" role="alert" *ngIf="" >
                Please fill in all fields
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="" >
                Invalid Username or Password
              </div>
              </form>
        </div>
        </div>

</div>
<br><br>
<h2>Enter Id and new Password</h2>
<div class="password-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin"  (ngSubmit)="passwordUpdate()" #signInForm="ngForm">
                <h1 class="h3 mb-3 fw-normal">Enter Details</h1>

                <div class="col-5">
                  <input type="number" [(ngModel)]="signinData.id" class="form-control" id="id" name="id" placeholder="ID number" required ngModel>
                  <label for="floatingPassword">ID</label>
                </div>
            
                <div class="col-5">
                  <input type="username" [(ngModel)]="signinData.password" class="form-control" id="floatingInput" name="password" placeholder="New Password" required autofocus ngModel>
                  <label for="floatingInput">Password</label>
                </div>
        
                <button class="w-25 btn btn-sm btn-primary" type="submit">Submit</button>
              <div class="alert alert-danger" role="alert" *ngIf="" >
                Please fill in all fields
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="" >
                Invalid Username or Password
              </div>
              </form>
        </div>
        </div>

</div>

