<h1>User Profile</h1>
<br><br>
<h4>Enter Id and new Username</h4>


<div class="username-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin"  (ngSubmit)="usernameUpdate()" #signInForm="ngForm">
                <h4 class="h7 mb-3 fw-normal">Enter Details</h4>          
                <div class="col-5">
                  <label for="floatingInput">Username</label>
                  <input type="username" [(ngModel)]="signinData.username" class="form-control" id="floatingInput" name="username" placeholder="Username" required autofocus ngModel>
                 </div>
            <br>
                <button class="w-25 btn btn-sm btn-primary" type="submit">Submit</button>
              <div class="alert alert-danger" role="alert" *ngIf="" >
                Please fill in all fields
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="" >
                Invalid Username or Password
              </div>
              </form>
        </div>
        </div>

</div>
<br><br>
<h4>Enter Id and new Password</h4>
<div class="password-wrapper">
    <div class="card">
        <div class="card-body">
            <form class="form-signin"  (ngSubmit)="passwordUpdate()" #signInForm="ngForm">
                <h4 class="h7 mb-3 fw-normal">Enter Details</h4>
            
                <div class="col-5">
                  <label for="floatingInput">Password</label>
                  <input type="username" [(ngModel)]="signinData.password" class="form-control" id="floatingInput" name="password" placeholder="New Password" required autofocus ngModel>
                  
                </div>
        <br>
                <button class="w-25 btn btn-sm btn-primary" type="submit">Submit</button>
              <div class="alert alert-danger" role="alert" *ngIf="" >
                Please fill in all fields
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="" >
                Invalid Username or Password
              </div>
              </form>
        </div>
        </div>

</div>