<div class="container">
    <h1>Assign purchased coins</h1>
    
    <table>
        <thead>
            <th>ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Character ID</th>
        </thead>
    
        <tbody>
            <tr class = "request" *ngFor="let request of pendingRequests">
                <td>{{request.id}}</td>
                <td>{{request.amount}}</td>
                <td>{{request.status}}</td>
                <td>{{request.charId}}</td>
                <button *ngIf="request.status == 'pending'" (click) = "assignCoins(request)"type="button" class="btn btn-primary">Assign Coins</button>
                
            </tr>
        </tbody>
    
    </table>
    </div>