<div class="container-sm">
  <h1 class="display-5 fw-bold title">Characters</h1>
  <div class="container-sm">
    <div class="row">
      <div class="card col-4 character" style="width: 18rem;" *ngFor="let character of characters; let i = index">
        <div class="card-body">
          <h5 class="card-title">{{character.name}} + index: {{i}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{character.coins}}</h6>
          <div class="achievement-wrapper">
            <h6 class="card-subtitle"></h6>
            <div *ngFor="let achievement of character.achievements;">{{achievement.description}}</div>
          </div>
          <div class="container button-wrapper">
            <button type="button" class="btn btn-primary btn-sm" (click)="selectCharacter(character)">Choose</button>
            <button type="button" class="btn btn-danger btn-sm">Delete</button>
          </div>
        </div>
      </div>
  </div>
</div>
</div>
<app-achievements [achievement] ="achievements"></app-achievements>